<mat-toolbar color="primary">
  <h1>Book collection</h1>
  <button mat-button routerLink="book">
    <mat-icon>menu_book</mat-icon> List books
  </button>

  <!-- logged in -->
  <ng-container *ngIf="(loggedin$ | async); else unauthorized">
    <button mat-button routerLink="book/add">
      <mat-icon>add</mat-icon> Add book
    </button>

    <button mat-button (click)="logout()" class="login">
      <mat-icon>face</mat-icon> Logout
    </button>
  </ng-container>

  <!-- not logged in -->
  <ng-template #unauthorized>
    <button mat-button routerLink="login" class="login">
      <mat-icon>face</mat-icon> Login
    </button>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
